// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
background: #fff;
padding: 25px;
border: solid 1px rgba(0,0,0,0.06);
border-radius: 4px;
margin-bottom: 25px;
}

.post p {
	margin: 4px 0;
}

.post .admin {
	display: none;
}

.post.hover {
	background: #FCFCFC;
}

.post.hover .admin {
	display: inline;
}