// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tutorial {
background: #fff;
padding: 25px;
border: solid 1px rgba(0,0,0,0.06);
border-radius: 4px;
margin-bottom: 25px;
}

.tutorial .page-header {
	margin: 0 0 20px;
}

.tutorial h2 {
	font-size: 30px;
	margin: 0 0 10px 0;
}

.tutorial p {
	margin: 4px 0;
	font-family: georgia, serif;
	font-size: 16pt;
	line-height: 24pt;
	color: #525252;
}

.tutorial .admin {
	display: none;
}

.tutorial.hover {
	background: #FCFCFC;
}

.tutorial.hover .admin {
	display: inline;
}

h5.author {
	background: #F3F3F3;
	width: 300px;
	padding: 7px 15px;
	border: solid 1px rgba(0,0,0,0.05);
	border-radius: 4px;
	}